/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
    min-height: 100%;
}


body{
    background-color: #f7ecea !important;
    font: 14px/1.3 Arial,sans-serif;
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}


/*----------------------------
	The Header
-----------------------------*/


header{
	background-color:#fff;
	background-image: linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	
	padding:20px;
	box-shadow:0 2px 4px rgba(0,0,0,0.3);
}

header h1, header h2{
	text-align:center;
	font-weight: normal;
}

header h1{
	font: 42px/50px 'Dancing Script', sans-serif;
	color:#5e676d;
}

header h2{
	font-size:23px;
	color:#311d1a;
	font-weight: bold;
}


/*----------------------------
	Thumbnails
-----------------------------*/

.thumbs{
	margin: 60px auto 150px;
    text-align: center;
    width: 100%;
}

.thumbs a{
	width:180px;
	height:180px;
	display:inline-block;
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	margin: 6px;
	position:relative;
	text-decoration:none;
	
	background-position:center center;
	background-repeat: no-repeat;
	
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}

#credit{
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	font-size: 11px;
	margin: 0 auto 70px;
	opacity: 0.5;
	padding: 12px 16px;
	text-align: center;
	width: 400px;
}


/*----------------------------
	Media Queries
-----------------------------*/


@media screen and (max-width: 960px) {
	.thumbs, #credit{
		width:auto;
	}
	
	footer{
		display:none;
	}
	
	#bsaHolder{
		display:none;
	}
}


/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
#bsa_closeAd{
	display: none;
}

.img100 img{
	margin: 85px 0;
	width: 100%;
}







//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////







/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.txt1 p {
	    display: inline-block;
	}
	.img1 {
	    display: none;
	}
}
/* Medium Devices, Desktops */

















.hidden {
	display: none;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
	font-family: 'Gotham Pro Light';
	font-weight: 300;
	font-style: normal;
	text-align: center;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Gotham Pro';
	font-weight: bold;
	font-style: normal;
}
.navbar-inverse h1{
	margin: 16px 23px 21px;
}
.navbar-inverse a{
	display: inline-block;
    padding: 29px 13px 33px;
}
.numb{
    padding: 29px;
}
.menu div{
	margin: 0 auto;
	width: 552px;
}


/* slider */

#slider-wrap{ /* Оболочка слайдера и кнопок */
	width:100%; 
	}
#slider{ /* Оболочка слайдера */
	width:100%;
	height:830px;
	overflow: hidden;
	position:relative;}
.slide{ /* Слайд */
	height: 830px;
	background-attachment: scroll;
    background-position: center center;
    background-size: cover;
	width:100%;
	}
.slide1{
	background: url(img/001.jpg);
    background-position: center center;
}
.slide2{
	background: url(img/002.jpg);
    background-position: center center;
}
.slide3{
	background: url(img/003.jpg);
    background-position: center center;
}
#prewbutton, #nextbutton{ /* Ссылка "Следующий" и "Педыдущий" */
	display:block;
	width:60px;
	height:100%;
	position:absolute;
	top:0;
	overflow:hidden;
	text-indent:-999px;
	background:url(img/arrowBg.png) left center no-repeat;
	opacity:0.8;
	z-index:3;
	outline:none !important;}
#prewbutton{left:42px;}
#nextbutton{
	right:42px;
	background:url(img/arrowBg.png) right center no-repeat;}
#prewbutton:hover, #prewbutton:focus, #prewbutton:hover, #nextbutton:active, #nextbutton:focus, #nextbutton:active{
	opacity:1;}
#slider-wrap .slide h2{
	font-size: 44px;
	margin-top: 0px !important;
    padding: 289px 0 30px;
}
.slide span{
	font-size: 54px;
}

/* slider */















/* Peremennie */

.txtAlRt{
	text-align: right;
}
.colWh *{
	color: #fff;
}

















/* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS */
/* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS */



/*==========  Desktop First Method  ==========*//* Large Devices, Wide Screens */
@media only screen and (max-width : 1499px) {
	.facts p {
	    text-align: center;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.navbar-inverse h1 {
    	margin: 4px 23px 4px;
	}
	.navbar-inverse a {
	    padding: 12px 13px 13px;
	}
	.numb {
	    padding: 5px;
	}
	div.numb{
		text-align: center;
	}
	.view-sixth h2 {
	   margin: 5% 0 0;
	}
	div.howWeWork div.devLine{
		display: none;
	}
	.view-sixth p {
	    font-size: 14px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.txt1 p {
	    display: inline-block;
	}
	.img1 {
	    display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.menu div {
	    width: auto;
	}
	.slide *{
		font-size: 125% !important;
	}
	.navbar-inverse a {
	    padding: 0 13px;
	}
	.view-sixth p {
	   font-size: 20px;
	}
	.view-sixth h2 {
	   margin: 20% 0 0;
	}
	.galler .view-sixth .mask {
	  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: alpha(opacity=0);
	  opacity: 0;
	}
	.img100 img {
	    margin: 191px 0 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#prewbutton, #nextbutton{
		display: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.img1{ /* Слайд */
	height: 434px;
	background-attachment: scroll;
    background-position: center center;
    border-left: 5px solid white;
    border-right: 5px solid white;
	}
	.img11{
		background: url(img/2.jpg);
	    background-position: center center;
    	background-size: cover;
	}
	.img12{
		background: url(img/3.jpg);
	    background-position: center center;
	    background-size: cover;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.navbar-inverse h1 {
	    text-align: left;
	}
}





/* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS */
/* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS */
/* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS *//* MEDIA CSS */
